/* LIGHTBOX */

.voile{
    display:none;
    position:fixed;
    background-color:rgba(0,0,0,0.9);
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:2;
}

.lightbox{
    display:none;
    position:fixed;
    background-color:white;
    top:10%;
    left:20%;
    right:20%;
    bottom:10%;
    width: auto;
    height: auto;
    padding: 5px;
    z-index:3;
}

.lightbox img{
    width:100%;
    height:100%;
}

#croix{
    position: absolute;
    background-image: url(../img/close.png);
    width: 49px;
    height: 49px;
    right: -37px;
    top: -37px;
    cursor:pointer;
}

#croix:hover{
    opacity:0.7;
}

ul#gallery{
    display: block;
    margin: auto;
    width: 100%;
}

p.texte{
    float:left;
    border:none;
    color:white;
    font-size:20px;
}

p#right.texte{
    float:right;
}

a.fleches{
    text-decoration:none;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    position: absolute;
    margin: 0;
    top: 50%;
}

a#left.fleches{
    left: -40px;
}

a#right.fleches{
    right:-40px;
}

/* Mobile version */
@media only screen
and (min-device-width : 320px)
and (max-device-width: 800px)
{
    ul#gallery{
        width: 400px;
        padding-left: 0;
    }

    .lightbox {
        top: 5%;
        left: 10%;
        right: 10%;
        bottom: 67%;
        width: auto;
        height: auto;
        padding: 5px;
        z-index: 3;
    }

    p.texte{
        font-size: 40px;
    }

    a.fleches{
        display: none;
    }
}