/* CSS - SOTRAMP */

body{
    font: 1vw "Century Gothic", Futura, sans-serif;
    background-color:white;
    margin:0;
}

/* Text selection */
::selection{
    color: #fff;
    background: #fdcb6e;
}

::-moz-selection{ /* for mozilla */
    color: #fff;
    background: #fdcb6e;
}

.in{
    margin:auto;
    width:63vw;
}

a{
    text-decoration:none;
    color:black;
}

a:hover{
    text-decoration:underline;
}

/* Notification success */
.notif{
    display:block;
    padding:1vw;
    text-align:center;
}
#notifsuccess{
    background-color: #2ecc71;
}

#notiferror{
    background-color: #e74c3c;
}

#closeNotif{
    float:right;
    cursor:pointer;
}

/* Header */
header{
    position:relative;
    background-color:#ffeaa7;
    height:26vw;
}

header #content{
    width: 63vw;
    margin: 3vw auto;
}

header #content h1{
    position:absolute;
    top:6vw; /* temp */
    font-size:2.3vw;
}

header #content p{
    display:block;
    font-size:1.1vw;
    width: 25vw;
    float:right;
    text-align:justify;
}

header #content #social{
    font-size:1vw;
    position:absolute;
    margin-top:3.1vw;
}

header #content #social a{
    color:black;
}

header svg{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8vw;
}

/* Menu */
ul#menu{
    padding-left:0; /* supprimer l'espace de la première puce */
    width:38vw;
    margin:auto;
}

ul#menu a{
    position: relative; 
    list-style-type: none;
    font-size: 1.1vw;
    font-weight: 600;
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 1.4vw;
    margin: auto;
} 

ul#menu a:after {
    position: absolute;
    content: '';
    height: 0.13vw;
    bottom:1vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 0;
    background: black;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
 }

ul#menu a:hover:after {
    content: '';
    width: 70%;
    background: black;
 }

/* List of projects */
ul#blog{
    padding-left:0;
}

ul#blog a li{
    display: inline-block;
    width: 44%;
    margin:0 0.5vw 0.5vw 0;
    height: auto;
    background-color: black;
    background-size: cover;
    border-radius: 0.4vw;
    color:white;
    padding:1.4vw;
    box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
}

ul#blog a li:hover{
    box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.3);
}

ul#blog a li h2{
    margin-bottom: -1vw;
    text-transform:uppercase;
}

ul#blog a li p{
    font-size:1.1vw;
}

ul#blog a li p.more{
    text-decoration:underline;
}

h2#competences{
    margin-top: 3vw;
    border-top: 0.1vw solid black;
    padding-top: 2vw;
}

/* Project page */
.projectButtons{
    display: block;
    text-decoration: none;
    color: #24292e;
    padding: 15px;
    border: 1px solid #24292e;
    margin: 8px 0 8px;
    background:transparent;
}

.projectButtons:hover{
    background-color:#24292e;
    color:white;
}

/* List of skills */
ul#skills{
    padding-left:0;
}

ul#skills li{
    display:inline-block;
    width:49%;
    height:40px;
    list-style-type: none;
    background-color:#82ccdd;
    border-radius:5px;
    margin:0 5px 10px 0;
}
.progress {
    padding-right: 24px;
    background: #60a3bc;
    display: inline-block;
    height: 40px;
    line-height: 42px;
    border-radius: 5px;
}

/*.bar {
    width: 80%;
    -moz-animation: test 2s ease;
    -webkit-animation: test 2s ease;
}*/


/* Footer */
footer{
    margin-top: 4vw;
    position: relative;
    background-color: black;
    height: 40vw;
}

footer svg{
    position: absolute;
    width: 100%;
    height: 3vw;
}

footer .in p{
    position:absolute;
    bottom:0;
    color:white;
}

footer .in a{
    display:block;
    margin-left:55vw;
}

#contact{
    position:absolute;
    top:5vw;
}

#contact h2{
    color:white;
}

#contact input,textarea{
    display: block;
    padding: 1vw;
    border: 0.1vw solid white;
    color: white;
    font-size: 1vw;
    background-color: black;
    width: 40vw;
    margin-top: 2vw;
}

#contact input[type="submit"]{
    width:42.3vw;
    cursor:pointer;
}

#contact input[type="submit"]:hover{
    background-color:white;
    color:black;
}

/* Mobile version */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
{
    .in{
        width:100%;
    }
}