{% load static %}

<!-- SOTRAMP 26/12 -->
<!DOCTYPE html>
<html>
<head>  
    <meta charset="UTF-8">
    <title>Sotramp - {% block title %}Portfolio{% endblock %}</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/smoothstate.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</head>
</html>
<body>

    <!-- Notification of success for the contact form  -->
    {% if messages %}
    {% for message in messages %}
        <div id="notif{{ message.tags }}">{{ message }} <i id="closeNotif" class="fas fa-times"></i></div>
    {% endfor %}
    {% endif %}

    <div id="deleteLoading">
    <!-- Main menu -->
    <header class="m-scene scene_element--fadein">
        <ul id="menu">
            <a href="../"><li>Accueil</li></a>
            <a href="#blog"><li>Projets</li></a>
            <a class="js-scrollTo" href="#competences"><li>Compétences</li></a>
            <a href="#contact"><li>Contact</li></a>
            <a href="#"><li>CV</li></a>
        </ul>

        <div id="content" class="scene_element scene_element--fadein">

            <!-- Logo -->
            <h1>sotramp</h1>
            <div id="social">
                <a href="https://twitter.com/sotramp" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
                <a href="https://www.instagram.com/damienclairet/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
            </div>

            <!-- Right paragraph -->
            <p>Étudiant en 2ème année de DUT Informatique, je m'intéresse au développement web depuis maintenant plusieurs années. Blabla en faite c'est juste que je me fais chier du coup je fais un portfolio.</p>
        </div>

    <!-- Diagonal -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon fill="white" points="0,100 100,0 100,100"/>
    </svg>
    </header>

    {% block content %}{% endblock %}

{% include 'layouts/footer.html' %}