{% load static %}

<!-- DAMIEN CLAIRET 2020 -->
<!DOCTYPE html>
<html>
<head>  
    <meta charset="UTF-8">
    <title>Damien Clairet - {% block title %}Portfolio{% endblock %}</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/lightbox.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/animsition.min.css'%}" rel="stylesheet"  type="text/css">
    <link href="{% static 'css/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <style media="screen">
        .bg-init,
        .animsition-overlay-slide {
          background-color: #f5cd79;
        }
    </style>
</head>
 <body class="bg-init">
    <div class="animsition-overlay">
    <!-- Lightbox background -->
    <div class="voile"></div>

    <!-- Notification of success for the contact form  -->
    {% if messages %}
    {% for message in messages %}
        <div id="notif{{ message.tags }}" class="notif">{{ message }} <i id="closeNotif" class="fas fa-times"></i></div>
    {% endfor %}
    {% endif %}

    <!-- Main menu -->
    <header class="darktheme">
        <ul id="menu" class="darktheme">
            <a class="animsition-link" href=".." data-animsition-out-class="overlay-slide-out-left"><li>Accueil</li></a>
            <a href="#blog"><li>Projets</li></a>
            <a class="js-scrollTo" href="#competences"><li>Compétences</li></a>
            <a href="#contact"><li>Contact</li></a>
            <a href="#"><li>CV</li></a>
        </ul>

        <div id="content">

            <!-- Logo -->
            <h1>Damien Clairet</h1>
            <div id="social">
                <a href="https://twitter.com/sotramp" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
                <a href="https://www.instagram.com/damienclairet/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
            </div>

            <!-- Right paragraph -->
            <p>Étudiant en 2ème année de DUT Informatique à Calais, je m'intéresse au développement web depuis maintenant plusieurs années et je suis actuellement à la recherche d'un stage.</p>
        </div>

    <!-- Diagonal -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon fill="white" points="0,100 100,0 100,100"/>
    </svg>
    </header>

    {% block content %}{% endblock %}

{% include 'layouts/footer.html' %}