    <!-- Projects -->
    <div class="main">
        <h2 id="blog">Mes projets</h2>

        <ul id="blog">
            {% for project in last_projects %}
                <a href="{% url 'more' id=project.id slug=project.slug %}"><li><h2>{{ project.name }}</h2><p>{{ project.desc|truncatewords_html:10 }}</p><p class='more'>En lire plus..</p></li></a>
            {% empty %}
            <p>Aucun projet.</p>
            {% endfor %}
        </ul>

        <!-- Skills -->
        <h2 id="competences">Mes compétences</h2>
        <ul id="skills">
            <!--<li><span class="progress bar" style="width:60%;"></span><em>test</em></li>
            <li><span class="progress bar"></span><em></em></li>-->
        </ul>
    </div>