{% extends 'layouts/gabarit.html' %}
{% block title %}{{ project.name }}{% endblock %}

    {% block content %}
    <!-- Project -->
    <div class="in">
        <h1>{{ project.name }}</h1>
        <i>{{ project.date|date:"DATE_FORMAT" }}</i>
        <p><i class="fas fa-tags"></i> {{ project.labels }}</p>
        <p>{{ project.desc }}</p>
        <img src="{{ project.image }}" style="width:900px;">
        {% if project.github %}<a class="projectButtons" href="{{ project.github }}">Lien GitHub <i class="fab fa-github fa-2x" style="float:right;"></i></a>{%  endif %}
        {% if project.demo %}<a class="projectButtons" href="{{ project.demo }}">Lien de démonstration <i class="fas fa-eye fa-2x" style="float:right;"></i></a>{%  endif %}
    </div>
    {% endblock %}